*{
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f5b208;
}


.dropdown-toggle:after {
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

a.dropdown-toggle{
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

a.dropdown-toggle:hover{
    color: #f5b208;
    cursor: pointer;
}


/* mini nav styling */
.bg-theme {
    background-color: #f5b208!important;
}
.miniul{
    display: flex;
    list-style: none;
    align-items: center;
    -webkit-box-align: center;
}


a {
    color: #000000;
    text-decoration: underline;
}
a.nav-link:hover{
    color: white;
}
.bottomless{
    margin-bottom: -18px;
    font-size: 13px;
    font-weight: bold;
}

.navbar-light .navbar-toggler {
    /* color: rgb(255 255 255 / 100%); */
    color: #f5b208;
    border-color: rgba(0,0,0,.1);
}